.list-cont {
    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 30px;
    box-shadow: 1px 3px 10px 1px;
    margin-left: 100px;
    margin-top: 100px;
    width: 1200px;
height: 1310px;
}
.listone {
    width: 1200px;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tumbnail, .tumb-pic {
    display: inline-block;
    vertical-align: top;
    height: 420px;
    width: 670px;
}
.tumb-pic {
   height: 390px;
   width: 630px;
   margin-top: 13px;
   margin-left: 17px;
}
.cont-text { 
    height: 420px;
    width: 526px;
    display: inline-block;

}
.cont-text, .cont-text2, .cont-text3 { 
    height: 420px;
    width: 526px;
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.textone, .textone2, .textone3 {
    height: 130px;
    width: 510px;
    font-size: 40px;
    line-height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: arial;
    font-weight: bold;
}
.textone {
    margin-bottom: 60px;
}
.profile, .profile2, .profile3 {
    height: 65px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.profile {
    margin-top: 65px;
    margin-left: 0px;
}
.name, .name2, .name3 {
    display: inline-block;
    vertical-align: top;
    height: 65px;
    margin-top: 67px;
    margin-left: 12px;
    font-size: 30px;
    margin-bottom: 0px;
}
.name {
    margin-top: 80px;
}
.views {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 27px;
}
.name, .views, .name2, .name3 {
    color: gray;
    font-family: arial;
    margin-left: 6px;
}
.textone2 {
    margin-bottom: 50px;
}
.profile2 {
    margin-top: 70px;
    height: 80px;
    border-radius: 90px;
}
.name2 {
    margin-top: 90px;
    margin-bottom: 0px;
}
.textone3 {
    margin-bottom: 20px;
}
.profile3 {
    margin-top: 0px;
}
.name3 {
    margin-top: 10px;
}


.tumb {
margin-top: 100px;
height: 650px;
background-color: rgb(19, 152, 152);
width: 800px;
}
.oneo {
    width: 800px;
    object-fit: contain;
}
.pro-info {
    
    display: grid;
    grid-template-columns: 85px 1fr;
}

.profileone-div {
    display: grid;
    grid-template-columns: 50px 1fr;
}


.profileone {
    width: 80px;
    height: 85;
    object-fit: contain;
    border-radius: 100px;
    margin-top: 15px;
}

.BMW-text {
    font-size: 35px;
    margin-left: 10px;
    font-family: arial;
    vertical-align: top;
    margin-bottom: 0px;
    margin-top: 20px;
    
}
.BMW-name, .bmw-views {
    display: block;
    font-size: 35px;
    margin-left: 10px;
    font-family: arial;
    margin-bottom: 5px;
    margin-top: 13px;
    color: grey;
    font-size: 29px;
}
.bmw-views {
    margin-bottom: 20px;
    margin-top: 5px;

}

.list-divt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}
.style {
    background-color: beige;
    height: 100px;
}
.style1 {
    background-color: aqua;
    height: 100px;
}
.header {
    height: 55px;
    margin-left: 0PX;
    display: flex;
    flex-direction: row;
}
.left-section {
    background-color: lightblue;
    width: 150px;
}
.middel-section {
    background-color: lightgreen;
    flex: 1;
    margin-left: 70PX;
    margin-right: 35PX;
}
.right-section {
    background-color: pink;
    width: 200px;
}